command('secret image-pull-config'):
  env:
    SEALED_SECRETS: "= @('helm.feature.sealed_secrets') ? 'yes' : 'no'"
    DEFAULT_CONFIG: = docker_config(@('docker.registry'))
    SEALED_SECRETS_CONTROLLER_NAME: = @('helm.sealed_secrets.controller_name')
    SEALED_SECRETS_CONTROLLER_NAMESPACE: = @('helm.sealed_secrets.controller_namespace')
    SEALED_SECRETS_CERTIFICATE_FILE: = @('helm.sealed_secrets.certificate_file')
  exec: |
    #!bash
    if [ "$SEALED_SECRETS" == 'yes' ] && ! command -v kubeseal >/dev/null; then
      echo 'kubeseal is needed in order to use this command' >&2
      exit 1
    fi

    if [ -t 0 ] ; then
      # Use an editor with a temp file to allow longer terminal input
      TMPFILE="$(mktemp -t tmp.XXXXXXXXX)"
      "${EDITOR:-vi}" "${TMPFILE}"
      DOCKER_CONFIG="$(cat "${TMPFILE}")"
      rm -f "${TMPFILE}"
    else
      # read from stdin until EOF
      DOCKER_CONFIG="$(cat)"
    fi

    DOCKER_CONFIG="${DOCKER_CONFIG:-${DEFAULT_CONFIG}}"

    if [ "$SEALED_SECRETS" == 'yes' ]; then
      echo 'Encrypting as a sealed-secret value with certificate from current kubectl context' >&2
      KUBESEAL_OPTS=(
        --name "image-pull-config"
        --scope cluster-wide 
      )
      if [ -n "${SEALED_SECRETS_CONTROLLER_NAME:-}" ]; then
        KUBESEAL_OPTS+=(
          --controller-name "${SEALED_SECRETS_CONTROLLER_NAME}"
        )
      fi
      if [ -n "${SEALED_SECRETS_CONTROLLER_NAMESPACE:-}" ]; then
        KUBESEAL_OPTS+=(
          --controller-namespace "${SEALED_SECRETS_CONTROLLER_NAMESPACE}"
        )
      fi
      if [ -n "${SEALED_SECRETS_CERTIFICATE_FILE:-}" ]; then
        KUBESEAL_OPTS+=(
          --cert "${SEALED_SECRETS_CERTIFICATE_FILE}"
        )
      fi

      echo -n "${DOCKER_CONFIG}" | kubeseal --raw "${KUBESEAL_OPTS[@]}"
    else
      echo 'Note: this has unencrypted credentials in, do not save directly to file' >&2
      echo "If storing within workspace attributes, use `ws secret encrypt` first" >&2
      echo "${DOCKER_CONFIG}" | base64
    fi

command('sealed-secret encrypt (string|blob) <secret-name>'):
  env:
    INPUT_TYPE: = input.command(3)
    SEALED_SECRETS_CONTROLLER_NAME: = @('helm.sealed_secrets.controller_name')
    SEALED_SECRETS_CONTROLLER_NAMESPACE: = @('helm.sealed_secrets.controller_namespace')
    SEALED_SECRETS_CERTIFICATE_FILE: = @('helm.sealed_secrets.certificate_file')
    SECRET_NAME: = input.argument('secret-name')
  exec: |
    #!bash
    if ! command -v kubeseal >/dev/null; then
      echo 'kubeseal is needed in order to use this command' >&2
      exit 1
    fi

    echo "Enter the secret ${INPUT_TYPE} to encrypt" >&2
    case "${INPUT_TYPE}" in
      string)
        read DATA # read a single line
        ;;
      blob)
        if [ -t 0 ] ; then
          # Use an editor with a temp file to allow longer terminal input
          TMPFILE="$(mktemp -t tmp.XXXXXXXXX)"
          "${EDITOR:-vi}" "${TMPFILE}"
          DATA="$(cat "${TMPFILE}")"
          rm -f "${TMPFILE}"
        else
          # read from stdin until EOF
          DATA="$(cat)"
        fi
        ;;
    esac

    echo 'Encrypting as a sealed-secret value with certificate from current kubectl context' >&2
    KUBESEAL_OPTS=(
      --name "${SECRET_NAME}"
      --scope cluster-wide 
    )
    if [ -n "${SEALED_SECRETS_CONTROLLER_NAME:-}" ]; then
      KUBESEAL_OPTS+=(
        --controller-name "${SEALED_SECRETS_CONTROLLER_NAME}"
      )
    fi
    if [ -n "${SEALED_SECRETS_CONTROLLER_NAMESPACE:-}" ]; then
      KUBESEAL_OPTS+=(
        --controller-namespace "${SEALED_SECRETS_CONTROLLER_NAMESPACE}"
      )
    fi
    if [ -n "${SEALED_SECRETS_CERTIFICATE_FILE:-}" ]; then
      KUBESEAL_OPTS+=(
        --cert "${SEALED_SECRETS_CERTIFICATE_FILE}"
      )
    fi

    echo -n "${DATA}" | kubeseal --raw "${KUBESEAL_OPTS[@]}"
